.blinker {
    animation: blinker 1s linear infinite;
}  
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div.prompt-background {
  width: 100%;
  height: 100%;
  background-color: black;
}

.underlineable {
  text-decoration: none;
}

.underlineable:hover {
  text-decoration: underline;
}