* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: var(--color-primary);
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #ae8427;
  --color-terciary: #cfa240;
  --color-white: #FFFFFF;
  --color-black: #000;
}

.blinker {
    animation: blinker 1s linear infinite;
}  
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div.prompt-background {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
}

.underlineable {
  text-decoration: none;
}

.underlineable:hover {
  text-decoration: underline;
}